In [7]:

import pandas as pd
s = pd.Series([1, 2, 3, 4], name='foox', index=pd.Index(['a', 'b', 'c', 'd'], name='idx'))

In [9]:
s["a"]

1

In [17]:
df = pd.DataFrame(list("abc"),columns=["teest"],index=pd.Index(list("123"),name="index"))

In [18]:
df

      teest
index
1         a
2         b
3         c

In [24]:
df["teest"]

index
1    a
2    b
3    c
Name: teest, dtype: object